.main-wrap {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent; /* 设置为透明，让native view显示 */
  .camera-wrap {
    width: 100%;
    height: calc(100% - 12vw);
    box-sizing: border-box;
    background-color: transparent; /* 视频容器也设置为透明 */
  }
}
.camera-btn-wrap {
  width: 100%;
  height: 60px;
  margin-top: 16px;
  position: absolute;
  bottom: 0;
  left: 0;

  .btn {
    position: absolute;
    display: inline-block;
    background: #2580fb;
    font-size: pxToVw(34px);
    font-weight: 400px;
    color: #fff;
    padding: 8px;
    border-radius: 10px;
    width: fit-content;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 5px;
    bottom: 0;
    z-index: 99999999 !important;
  }
}
.centerBtn {
  position: absolute;
  left: 50%;
  width: 10vw;
  height: 10vw;
  bottom: 4vw;
  transform: translate(-50%);
  cursor: pointer;
}
.timer {
  position: absolute;
  left: 50%;
  width: 13vw;
  bottom: 0vw;
  text-align: center;
  transform: translate(-50%);
  cursor: pointer;
  background: #fd1717;
  border-radius: 2px;
  color: white;
  padding: 0 4px;
}
.changeType {
  position: absolute;
  left: 16px;
  width: 120px;
  height: 8vw;
  bottom: 4vw;
  cursor: pointer;
}
