ion-content {
  --background: transparent;
}
.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  background-color: transparent;
  .top-wrap {
    flex: 1;
    background-color: transparent;
  }
  .bottom-wrap {
    flex: 1;
    background-color: transparent;
  }
}
